/* Globale Stile */
body {
    font-family: Arial, sans-serif;
    background-color:pink;
    color: #000000;
    margin: 0;
    padding: 0;
}

/* Überschriften */
h1 {
    font-weight: bold;
    color: #020303e7;
}

h2 {
    font-size: 30px;
    color: #131310;
}

/* Absätze */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Links */
a {
    color: #c0bbc0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #080808;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #070707;
}
.header
